
.background {
 position: absolute;
 display: block;
 align-items:center ;
 justify-content: center;
 width:100%;
 height:95%; 
 background-image: url("../img/mokesh1.png");

}


.container {
display: grid;
align-items:center ;
justify-content: center;
position: relative;
}

.timer {
 width:fit-content;
 font-size: xx-large; 
}

.smiley {
  display: inline-block;
  font-size: x-large;
} 

.smiley span {
display:table;
margin: auto;
cursor: pointer;
}

.levels {
  margin: 5px;
  text-align: center;
}

.lives {
  text-align: left;
  font-family: cursive;
  font-weight: bold;
  font-size: 22px;
  color:black;
  text-align: center;

}

button {
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
  font-family: cursive;
  font-size: 16px;
}

table {
  background-color: white;
  margin-top: 30px;
  border-collapse: collapse;
  border-style: solid;
 border-width: 4px;
 border-color: black;
}

.board td {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 5px;
  font-weight: bold;
}

.board td:hover {
  background-color: lightgrey;
}

.cellReveal {
  background-color: rgb(190, 181, 181);
}

  .footer {
  text-align: center;
  font-size:25px;
  font-family: cursive;
}

  .lost {
  background-color: rgb(161, 6, 6);
  }


