body {
  /* border-width: 2px;
  border-color: black;
  border-style: solid; */
  width:900px;
  height:900px;
}

.container {
 max-width: 1200px;
 margin:auto;
}

.timer {
  text-align: right;
  /* padding:20px; */
  font-size: '44sp';
  margin-right:330px;
  margin-bottom: 40px;
}

.smiley {
  cursor: pointer;
  display: inline-block;
} 

.levels {
  margin: 20px;
}

button {
  padding: 5px;
  margin: 10px;
}

table {
  
  margin-top: 20px;
  background-color: white;
}

.board td {
  width: 30px;
  height: 30px;
  text-align: center;
}

.board td:hover {
    background-color: lightgrey;
}

.reveal {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: grey;
  }