/* body {
   border-width: 2px;
  border-color: black;
  border-style: solid; 
   width:900px;
  height:900px; 
} */

.container {
  margin-top: 80px;
 display: grid;
 align-items:center ;
 justify-content: center;
}

/* .timer {
 background-color: lightcoral; 
 width:30px;
 text-align: center;
} */

.smiley {
  display: inline-block;
} 

.smiley span {
display:table;
margin:0 auto;
cursor: pointer;
}

.levels {
  margin: 20px;
}

button {
  padding: 5px;
  margin: 10px;
}

table {
  margin-top: 20px;
  background-color: white;
  border-radius: 4;
  border-width: 3;
  border: olive;
}

.board td {
  width: 30px;
  height: 30px;
  text-align: center;
}

.board td:hover {
    background-color: lightgrey;
}

.cellReveal {
  background-color: grey;
}

.reveal {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: grey;
  }

  .footer {
    text-align: center;
  }